<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module"/>

<f:section name="Content">

    <h1><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_ceditor.xlf:submodule.title" /></h1>
    <div>
        <p class="lead"><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_ceditor.xlf:submodule.description" /></p>
    </div>

    <f:render
        partial="ThemeOptions/NoRecordFound"
        arguments="{
            pageUid: pageUid,
            previousPage: previousPage,
            moduleIdentifier: moduleIdentifier
        }"
    />

</f:section>

</html>
